{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

      <section id="mostRecent" class="row">
          {% for post in recent %}
          <div class="col-md-3">
            <article class="thumbnail">
              <div class="img-thumbnail">
                <img class="img-responsive" src="{{ post.picture.url }}" alt="{{ post.name }}">
              </div>
              <time datetime="{{ post.created_at|date:'d-m-Y' }}">{{ post.created_at|date:'d-M' }}</time>
              <div class="caption">
                <div class="title-thumbnail">
                  <h3>{{ post.name }}</h3>
                </div>
                <h5><a href="{% url 'blog:author' post.Author.id %}">de {{ post.Author }}</a></h5>
                <p>{{ post.headline|truncatechars:100 }}</p>
                <p><a href="{% url 'blog:details' post.id %}" class="btn" role="button">View more</a></p>
              </div>
            </article>
          </div>
          {% endfor %}
      </section>

      <section id="mostPopular" class="row">
          <div class="col-md-7">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {% for post in recent %}
                <div class="item {% if forloop.first %}active{% endif %}">
                  <img class="img-responsive" src="{{ post.picture.url }}" alt="{{ post.name }}">
                  <div class="carousel-caption">
                    <h3>{{ post.name }}</h3>
                    <p>de {{ post.Author }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div>
          </div>

          <div class="col-md-5">
            <h2>Retrouvez ici, les posts les plus populaires !</h2>
            <p>Tout au long de ce blog vous trouverez la popularité des oeuvres et de leur(s) analyse(s) afin de vous offrir les meilleures analyse et interprétation.</p>
          </div>
      </section>
{% endblock %}
