article{
  border: 1px solid #DDD;
  padding: 10px;
  float: left;
}

#list .img-thumbnail{
  height: 300px;
  width: 100%;
  padding: 0;
  overflow: hidden
}

#list h3{
  height: 50px;
  margin-top: 0
}

/*Helper*/

.container{
  padding: 0 15px;
  margin: auto;
}

.container::before{
  content: " ";
  display: table;
  clear: both;
}
