*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


/*Component*/
a{
  text-decoration: none
}

li{
  list-style: none
}

p{
  text-align: justify
}

button, .btn{
  background-color: #C0D33D !important;
  color: #800;
  border: none !important;
  transition: 0.25s all;
}

button:hover, .btn:hover{
  border-radius: 0px !important;
}

.rtfb-logo{
  font-weight: 700;
  transform: scaleX(1.1);
}

.rtfb-logo:hover span:before{
  height: 100%
}

.rtfb-logo span{
  position: relative;
  padding: 4px 5px;
}

.rtfb-logo span:before{
  overflow: hidden;
  text-align: center;
  transition: 1s all;
  display: block;
  position: absolute;
  transform: translate(0%, -15%);
  left: 0;
  height: 0%;
  width: 100%;
}

.rtfb-logo span:first-child:before{
  top: 0;
  content: "RT";
}

.rtfb-logo span:last-child:before{
  bottom: 0;
  content: "FB";
}

.rtfb-logo span:first-child, .rtfb-logo span:last-child:before{
  background-color: #800;
  color: #c0d33d;
}

.rtfb-logo span:last-child, .rtfb-logo span:first-child:before{
  background-color: #c0d33d;
  color: #800;
}

.fixed{
  position: fixed !important;
}


/*
 ######
 #     #   ##    ####  ######
 #     #  #  #  #      #
 ######  #    #  ####  #####
 #     # ######      # #
 #     # #    # #    # #
 ######  #    #  ####  ######
*/

/*body*/

nav{
  background-color: #c0d33d !important;
  border-radius: 0px !important;
  border: none !important;
  top: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  z-index: 100;
}

nav:after{
  content: "";
  height: 2px;
  width: 90px;
  background-color: #800;
  animation: slide 1s .5s alternate;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0%{
    width: 90px;
  }
  100%{
    width: 100%;
  }
}

nav a{
  color: #c00c00 !important;
  font-weight: 700;
}

nav .navbar-right input{
  border-radius: 0px;
  background-color: #EFF;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,.1);
}

nav .navbar-right button{
  margin-left: -10px !important;
  border-radius: 0px !important;
  color: #EFF !important;
  border: 0 !important;
  background-color: #c00c00 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  transition: .25s all;
}

nav .navbar-right button:hover, nav .navbar-right input:hover{
  border-radius: 0px !important;
}

.home-header{
  height: 400px;
  background-image: url(../img/book.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header .rtfb-logo{
  font-size: 60px;
}

.home-header h5{
  color: #c0d33d;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 3px 2px black;
}

/*Footer*/
footer{
  min-height: 250px;
  text-align: center;
  background-color: #080800;
  color: #EFF
}

/*INSCRIPTION*/
#inscription{
  margin-top: 20px
}

/*ACTUALITES*/
#actuality{
  margin
  padding: 10px 0
}

#actuality img{
  height: 150px
}


/*
 # #    # #####  ###### #    #
 # ##   # #    # #       #  #
 # # #  # #    # #####    ##
 # #  # # #    # #        ##
 # #   ## #    # #       #  #
 # #    # #####  ###### #    #
*/

/*******/
/*Body*/
/*******/

/*SECTION 1 : mostRecent*/

#mostRecent{
  min-height: 550px
}

#mostRecent article{
  margin-top: 40px;
}

#mostRecent .img-thumbnail{
  height: 300px;
  width: 100%;
  padding: 0;
  overflow: hidden
}

#mostRecent h3{
  height: 50px;
  margin-top: 0
}

/*SECTION 2 : mostPopular*/

#mostPopular{
  min-height: 550px;
  margin-top: 100px
}

#mostPopular .carousel-inner{
  height: 100%;
  width: 100%
}

#mostPopular .carousel-inner img{
  height: 100%;
  width: auto;
  margin: auto
}

#mostPopular > div:last-child{
  margin-top: 130px
}

/*
    #
   # #   #####   ####  #    # #####
  #   #  #    # #    # #    #   #
 #     # #####  #    # #    #   #
 ####### #    # #    # #    #   #
 #     # #    # #    # #    #   #
 #     # #####   ####   ####    #
*/
#about p{
  line-height: 1.8
}


/*
  #####
 #     #  ####  #    # #####   ##    ####  #####
 #       #    # ##   #   #    #  #  #    #   #
 #       #    # # #  #   #   #    # #        #
 #       #    # #  # #   #   ###### #        #
 #     # #    # #   ##   #   #    # #    #   #
  #####   ####  #    #   #   #    #  ####    #
*/
#contact{
  height: 200px
}
