{% extends 'layouts/base.html' %}

{% load static %}

{% block link %}<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">{% endblock %}
{% block title %}Livre | {{ post.name }}{% endblock %}

{% block content %}

<article class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-6 responsive">
        <img src="{{ post.picture.url }}" alt="{{ post.name }}">
      </div>

      <div class="col-sm-6 ">
        <time datetime="{{ post.created_at|date:'d-m-Y' }}">{{ post.created_at|date:'d-M' }}</time>

        <h3>{{ post.name }}</h3>

        <p><b>de {{ post.Author.name }}</b></p>

        <p><a href="{% url 'blog:list' %}">Retourner à la liste des livres</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Biographie de l'auteur</h3>
        <p>{{ post.Author.headline }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Résumé du livre</h3>
        <p>{{ post.headline }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>Analyse 1</li>
          <li>Analyse 2</li>
          <li>Analyse 3</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Texte original</h3>
          <p>Texte original de l'analyse</p>
        </div>

        <div class="col-md-6">
          <h3>Texte analytique</h3>
          <p>{{ post.analytic }}</p>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
